.green-btn, .hero-section nav a:nth-of-type(3), .camper-search-btn {
  font-family: "Urbanist VarFont";
  background-color: #A9CBA6;
  color: #FFFFFF;
  border-radius: 30px;
  border: 1px solid #000;
  box-shadow: -4px -4px 0px 0px rgba(0, 0, 0, 0.25) inset;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 1rem;
}

.white-btn, .hero-section nav a {
  font-family: "Urbanist VarFont";
  background-color: #FFFFFF;
  color: #000;
  box-shadow: -4px -4px 0px 0px rgba(0, 0, 0, 0.25) inset;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
  padding: 3px 1rem;
}

/* connection to the external files */
@font-face {
  font-family: "Urbanist VarFont";
  src: url("../fonts/Urbanist-VariableFont_wght.ttf");
}
/* ******** HEADER SECTION ******* */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 30px;
  padding: 8px;
  font-family: "Urbanist VarFont"; /* using variable from variable file */
  margin-bottom: 2%;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 0 8px 0 24px;
}
nav:hover {
  text-decoration: underline; /* why don't u work? */
  font-weight: 800;
}

/* ******** HERO SECTION*******  */
.hero-section {
  font-family: "Urbanist VarFont";
  background-image: url(../img/Ilustration_Header\ 1.png);
  background-repeat: no-repeat;
  background-position: top center;
  /* background-size: contain; */
  background-size: cover;
  padding: 5% 0 6% 0;
}
.hero-section h1 {
  width: 28%;
  font-size: 6rem;
  font-weight: 800;
  padding: 10% 15% 0 15%;
}
.hero-section nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.hero-section nav a { /*  display: flex; */ /* referring to a-tags in nav of hero-section */
  /*  justify-content: space-between;  
   align-items: center;
   border: 2px solid black;
   border-radius: 30px;
   padding: 3px 1rem; */
}
.hero-section nav a:nth-of-type(3) { /* referring to the 3rd a tag, adding the style of a class from classes file */ }

/* ******* AD CARD SECTION ********* */
.van-ad-section {
  background-image: url(../img/bg_bulb_green.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /*  background-size: cover; */
  font-family: "Urbanist VarFont";
  /* ******* ad-card 1 - 5  styling ******** */
}
.van-ad-section article {
  margin: 5% auto;
  text-align: center;
  width: 45%;
}
.van-ad-section article h2 {
  font-size: 2.6rem;
}
.van-ad-section div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2%;
}
.van-ad-section .ad-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0 rgba(128, 128, 128, 0.493);
  width: 20vw;
  height: 50vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.315);
}

/* ****** CAMPER SEARCH */
.camper-search-btn {
  margin: 7% auto;
}

/*  ********** CHOICE SECTION ******** */
.choice-section {
  font-family: "Urbanist VarFont";
  background-image: url(../img/bg_bulb_blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.choice-section article {
  margin: 5% auto;
  text-align: center;
  width: 40%;
}
.choice-section article h2 {
  font-size: 2.6rem;
}

.card-3-pack {
  display: flex;
  justify-content: center;
  gap: 2%;
}

.option-card {
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0 rgba(128, 128, 128, 0.493);
  width: 30vw;
  height: 70vh;
  text-align: center;
}
.option-card h3 {
  display: flex;
  font-size: 2rem;
}
.option-card h3 span {
  font-weight: 200;
}
.option-card div {
  background-color: #F0CEA0;
}

/*# sourceMappingURL=styles.css.map */
